<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HJ Blackjack</title>
        <link rel="stylesheet" href="/blackjackCss">
        <script src="/blackjackJs"></script>
    </head>

    <header>
        <div id="headerName">
            <h2>Hard Jewelry</h2>
        </div>
        <div class="landingLogo">
            <a href="/"><img id="shippinglogo" src="/assets/images/freeshipping.gif"></a>
        </div>
        <nav id="headerNav">
            <h5><a class="links" href="https://hardjewelry.com/">Shop</a></h5>
            <h5><a class="links" href="/concepts">Concepts</a></h5>
        </nav>
    </header>
    <body>
        <section id="gamewrap">
        <h2 class="gameinfo">Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <img id="hidden" src="/assets/cards/BACK.gif">
        </div>

        <h2 class="gameinfo">You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <button id="newGame" hidden>Play Again</button>
        <button id="hit">Hit</button>
        <button id="stay">Stay</button>
        <h3 id="results"></h3>

            <div class="nav-link">
                <span class="nav-link"><a target="_blank" class="nav-link" href="https://bicyclecards.com/how-to-play/blackjack/">How to Play</a></span>
            </div>
        </section>
        </body>
</html>